In [20]:
pip install kafka-python

Requirement already satisfied: kafka-python in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [21]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/kevinphilip/Library/Python/3.11/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/kevinphilip/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
#if s3fs is not working use this to install
pip install kafka-python-ng

SyntaxError: invalid syntax (3220012047.py, line 2)

In [23]:
import pandas as pd
from time import sleep
from json import dumps
import json

In [24]:
from kafka import KafkaProducer

In [25]:
# change your ip here 54.226.198.156 It should be your public IP.
producer = KafkaProducer(bootstrap_servers=['OMMITED:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [14]:
producer.send('demo_testing2', value={'Akanksha':'ksfkjvndfkvdfv'})

In [26]:
df = pd.read_csv("indexProcessed.csv")

In [27]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [28]:
#to get random sample:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
68442,GSPTSE,1989-02-24,3589.100098,3589.100098,3558.899902,3562.0,3552.954346,22050000.0,2956.46

In [35]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_testing2', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [18]:
#to empty the entire buffer we wont see any data in consumer. 

producer.flush()

In [30]:
df.sample(1).to_dict()

{'Index': {87561: 'GDAXI'},
 'Date': {87561: '2018-04-30'},
 'Open': {87561: 12606.26953},
 'High': {87561: 12622.92969},
 'Low': {87561: 12563.74023},
 'Close': {87561: 12612.11035},
 'Adj Close': {87561: 12612.11035},
 'Volume': {87561: 96521000.0},
 'CloseUSD': {87561: 15386.774627}}